*{
 font-family: 'Poppins', sans-serif;
 box-sizing: border-box;
}

.App {
  position: relative;
  width: 550px;
  height: 853px;
  margin: auto;
  background: #FFFFFF;
  border-radius: 8.95px;
}

.bold {
  font-weight: 600;
}
.gray {
  color: #918E9B;
}
.nav{
  display: flex;
  padding: 22px 36px;
  height: 70px;
  background: #FFFFFF;
  place-items: center;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.nav > img {
  max-width: 400px;
  /* height: 40px; */
  /* width: 82.02px; */
  height: 40px;
  margin-right: auto;
}

.hero{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 26px 36px;
  /* background: #FFFFFF; */
}

.hero--image{
  width: 395px;
  height: 232px;
  align-self: center;
  margin-bottom: 26px;
}

.hero--text > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  margin: 0;
  /* line-height: 110%; */
}
.hero--text > p {
  margin:0;
  margin-top: 16px;
  width: 320px;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222;
}

.card {
  /* padding: 22px 36px; */
  margin-right: 18px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  border-radius: 9px;
}

.card > title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.card > .img {
  position: relative;
}


/* .img > div {
  position: absolute;
  top: 6px;
  left: 6px;
  background: white;
  padding: 6px 7px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 400;
} */
.tag {
  position: absolute;
  top: 6px;
  left: 6px;
  background: white;
  padding: 6px 7px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 400;
  z-index: 1;
  box-shadow: #222;
  font-weight: 600;
}

.img > .card-img {
  border-radius: 9px;
  width: 176px;
  height: 235px;
}

.card p {
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 12px;
  /* text-align: center; */
}
.card > .rating {
  display: flex;
  margin: 0;
  align-items: center;
}

.rating > img {
  width: 14px;
}
.rating > p {
  margin: 0;
  margin-left: 2px;
  /* leading-trim: both; */
  /* text-edge: cap; */
}
.rating span {
  margin-left: 2px;
}

.cards{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 22px 36px;
}

*::-webkit-scrollbar {
  display: none;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
